.test-wrapper {
  background: pink;
  width: 300px;
  height: 100px;
  .test-list {
    overflow: hidden;
    .test-item {
      line-height: 30px;
      font-size: 16px;
      color: #666;
    }
  }
}